%h1
  Machine view
  %small{:style => "font-size: 16px;"}
    =link_to edit_machine_path(@machine) do
      edit


%h4
  %span{:style => "color:blue;text-transform:capitalize;"}
    =@machine.libelle
%h5
  Impact of a breakdown :
  %span{:style => "color:red;text-transform:capitalize;"}
    =Machine::INCIDENCE.key(@machine.incidence)

%h5
  Importance of the machine :
  %span{:style => "color:red;text-transform:capitalize;"}
    =Machine::IMPORTANCE.key(@machine.importance)

%h5
  Equipement state :
  %span{:style => "color:red;text-transform:capitalize;"}
    =Machine::ETAT.key(@machine.etat)

%h5
  Use state :
  %span{:style => "color:red;text-transform:capitalize;"}
    =Machine::UTILISATION.key(@machine.utilisation)
%hr



%h5
  Machine status :
  %b
    =@machine.calcul_poids

%h4.text-danger
  =@machine.get_decision


-if @machine.get_indicateurs_critiques.present?
  %h4 Critical indicators :
  -@machine.get_indicateurs_critiques.each do |i|
    -i = i['full_indicator']
    %b
      =i.libelle
      =" : "
    %span{:style => "color:red;text-transform:capitalize;"}
      =Indicateur::ETAT.key(i.etat)
    %br
    %b
      ="Comment => "
    =i.commentaire
    %hr




-if @machine.indicateurs.present?
  %hr
  %hr
  %h4 All indicators :
  -@machine.indicateurs.each do |i|
    %b
      =i.libelle
      =" : "
    %span{:style => "color:red;text-transform:capitalize;"}
      =Indicateur::ETAT.key(i.etat)
    %br
    %b
      ="Comment => "
    =i.commentaire
    %br
    %small{:style => "font-size: 12px;"}
      =link_to edit_machine_indicateur_path(@machine,i) do
        edit
    %hr
=link_to new_machine_indicateur_path(@machine) do
  %btn.btn.btn-primary
    Add indicator
