%h1
  Visualisation d'une machine
  %small{:style => "font-size: 16px;"}
    =link_to edit_machine_path(@machine) do
      modifier


%h4
  %span{:style => "color:blue;text-transform:capitalize;"}
    =@machine.libelle
%h5
  Incidence d'une panne dans le systeme :
  %span{:style => "color:red;text-transform:capitalize;"}
    =Machine::INCIDENCE.key(@machine.incidence)

%h5
  Importance de l'équipement :
  %span{:style => "color:red;text-transform:capitalize;"}
    =Machine::IMPORTANCE.key(@machine.importance)

%h5
  Etat de l'équipement :
  %span{:style => "color:red;text-transform:capitalize;"}
    =Machine::ETAT.key(@machine.etat)

%h5
  Etat d'utilisation :
  %span{:style => "color:red;text-transform:capitalize;"}
    =Machine::UTILISATION.key(@machine.utilisation)
%hr



%h5
  Status de la machine, indice :
  %b
    =@machine.calcul_poids

%h4.text-danger
  =@machine.get_decision


-if @machine.get_indicateurs_critiques.present?
  %h4 Indicateurs Critiques :
  -@machine.get_indicateurs_critiques.each do |i|
  =i.inspect
    %b
      =i.libelle
      =" : "
    %span{:style => "color:red;text-transform:capitalize;"}
      =Indicateur::ETAT.key(i.etat)
    %br
    %b
      ="Commentaire => "
    =i.commentaire
    %hr




-if @machine.indicateurs.present?
  %hr
  %hr
  %h4 Tous les indicateurs :
  -@machine.indicateurs.each do |i|
    %b
      =i.libelle
      =" : "
    %span{:style => "color:red;text-transform:capitalize;"}
      =Indicateur::ETAT.key(i.etat)
    %br
    %b
      ="Commentaire => "
    =i.commentaire
    %br
    %small{:style => "font-size: 12px;"}
      =link_to edit_machine_indicateur_path(@machine,i) do
        modifier
    %hr
=link_to new_machine_indicateur_path(@machine) do
  %btn.btn.btn-primary
    Ajouter un indicateur
